@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
    margin: 0;
    font-family: Lato, sans-serif;
}

header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.cart-button {
    background: white;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
}
.cart-button:hover {
    background: yellowgreen;
    border: 1px solid black;
}
.goods-list {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}